@using BearsDenGames.Models.Battleship
<ModalScreen>
    <Header>
        <h3>Create Game</h3>
    </Header>
    <Body>
        <MatTextField Style="width:100%" class="FullWidthInput"
                      OnInput="@(ui => {onValueChange(ui.Value.ToString());})"
                      OnKeyPress="onNameChange"
                      @bind-Value="@GameName" Label="Game Name"></MatTextField>
        @if (Disabled && GameName != "")
        {
            <p style="color:red">*This name is already in use!</p>
        }
    </Body>
    <Footer>
        <MatButton class="GlassButton" Disabled="@Disabled" OnClick="@OnCreateGame" Label="Create"></MatButton>
        <MatButton class="CancelGlassButton" OnClick="@(() => Cancelled.InvokeAsync())" Label="Cancel"></MatButton>
    </Footer>
</ModalScreen>

@inject BearsDenGameServer BearsDenGameServer
@inject NavigationManager NavManager

@code {

    [Parameter]
    public EventCallback Cancelled { get; set; }

    [Parameter]
    public Player? Player { get; set; }

    private string _gameName = "";

    private string GameName
    {
        get => _gameName;
        set
        {
            _gameName = value;
            Validate();
        }
    }

    private bool Disabled { get; set; } = true;


    private void onValueChange(string e)
    {
        GameName = e;
        Console.WriteLine(Disabled);
    }

    private void onNameChange(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (!Disabled) OnCreateGame();
        }
    }

    private void Validate()
    {
        Disabled = IsValid();
        Console.WriteLine(Disabled);
    }

    private bool IsValid()
    {
        if (GameName == "") return true;
        if (BearsDenGameServer.BattleshipServer.GetGame(GameName.Trim()) != null) return true;
        return false;
    }

    private void OnCreateGame()
    {
        if (Player != null)
        {
            BattleshipPlayer bsPlayer = new(Player);
            Player.CurrentGame = new(GameName, GameType.Battleship);
            var game = new BattleshipGame(GameName, bsPlayer, BearsDenGameServer.DefaultIdleTimout);

            BearsDenGameServer.BattleshipServer.AddGame(game);
            NavManager.NavigateTo("Battleship?Game=" + GameName);
        }
        else Cancelled.InvokeAsync();
    }
    } 